@import "dependencies";

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i');

body {
  background: #000000;
}

body, body *, body * * {
    font-family: Nunito Sans, Helvetica, Arial, sans-serif;
}

h1.parkspot {
  font-size: 36px;
  color: #CCCCCC;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Nunito Sans, Helvetica, Arial, sans-serif;
  text-align: left;
}

h1.cities {
  font-size: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Nunito Sans, Helvetica, Arial, sans-serif;
  text-align: center;
}
